/* styles */
.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
}

.main-content {
    margin-left: 250px;
    /* match the width of the sidebar */
    padding: 20px;
}

.app-download-icon-container {
    height: 36px;
    width: 120px;
}

.card-img {
    width: 400px;
    height: 300px;
}