/* styles */
.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
    z-index: 1;
}

.main-content {
    margin-left: 250px;
    /* match the width of the sidebar */
    padding: 20px;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/Designer.jpeg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    position: relative;
    text-align: left;
    color: white;
    top: 50%;
    padding: 0 1rem;
}

.app-download-icon-container {
    height: 36px;
    width: 120px;
}

.card-img {
    width: 400px;
    height: 300px;
}