/* styles */
body {
    background-color: #f6f4f4;
    margin: 0;
    font-family: "Syne", sans-serif;
    font-style: normal;
}

header {
    background-color: #7d2ae8;
    color: #fff;
    margin-top: 0;
    margin-left: 240px;
    max-height: 3em;
    padding: 10px;
}

header p {
    margin: 0;
    text-align: center;
    padding: 5px;
}

.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background: #12130F;
    color: #fff;
    padding: 20px;
    z-index: 1;
}

.nav-logo a {
    text-decoration: none;
    color: #fff;
}

.nav-logo a:visited {
    text-decoration: none;
    color: #fff;
}

.nav-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    margin-top: 0.5em;
}

.nav-heading span {
    display: block;
    font-size: 1.5rem;
    margin-bottom: -10px;
}

.quick-links ul li {
    text-decoration: none;
    list-style-type: none;
}   

.quick-links ul li a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}   

.quick-links ul li a:visited {
    text-decoration: none;
    color: #fff;
}   

.nav-social-icon {
    width: 35px;
    height: 35px;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5em 0;
    gap: 0.5em;
}

.nav-footer .quick-links ul {
    padding: 0;
    text-align: center;
}
.nav-footer .quick-links ul li a {
    font-size: 0.75rem;
}


.social-media-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-content {
    margin-left: 240px;
    position: relative;
    top: -20px;
}


.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/Designer.jpeg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    position: relative;
    text-align: left;
    color: white;
    top: 50%;
    padding: 0 1rem;
}

.hero-button {
    width: 150px;
    height: 50px;
    font-family: "Syne", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    background-color: #FDCA40;
    border-style: none;
    border-radius: 5px;
}

.app-download-icon-container {
    height: 36px;
    width: 120px;
}

.card-img {
    width: 400px;
    height: 300px;
}


.section-title {
    text-align: center;
}

.section-title h2 {
    font-size: 3rem;
}

/* Featured Section */
.featured {
    margin: 5em 0;
}

/* Map Section  */
.park-map {
    margin: 5em 0;
}

.map-container {
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;

}

.map-options {
    background-color: #d8d8d8;
    width: 350px;
    border-radius: 10px;
    margin-right: 10em;
}

.interactive-map {
    background-color: #d8d8d8;
    width: 55em;
    border-radius: 10px;
}

.interactive-map img {
    width: 100%;
    height: 450px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.map-key {
    padding: 20px;
}

.map-key h3 {
    margin-top: 0;
}

.map-key ul {
    display: flex;
    list-style-type: square;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.map-key ul li {
    padding: 10px;
}

/* site-nav-cards section  */
.site-nav-cards {
    margin: 10em 0;
}

.card-box {
    height: 450px;
    width: 300px;
    background: #fff;
    flex-direction: column;
    border-radius: 25px;
}

.card-box .img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 190px;
}

.card-box .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-box .info {
    padding: 20px;
}

.card-box .info h2 {
    font-size: 24px;
    font-weight: 600;
    cursor: text;
    margin-bottom: 5px;
}

.card-box .info p {
    font-size: 16px;
    cursor: text;
}

.card-box .info .btn {
    margin-top: 10px;
    position: absolute;
    top: 22em;
}

.card-box .info .btn button {
    background: #FDCA40;
    color: #fff;
    font-size: 14px;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.card-box .info .btn button:hover {
    background: #f8ce5d;

}

/* Contact Section  */
.contact {
    margin: 50px 0;
    max-height: 35em;
}

.contact .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60em;
    margin: auto;
    background-color: #d8d8d8;
    border-radius: 5px;
    height: 35em;
}

.contact-info {
    text-align: center;
}

.contact-heading {
    font-size: 3em;
}

.contact-details ul{
    list-style-type: none;
    padding: 0;
}

.contact-social-icon {
    width: 30px;
    height: 30px;
}

.contact-section {
    margin: auto;
}

.form-container ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.form-container ul li {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.form-container ul li.half-width {
    width: 50%;
    box-sizing: border-box;
}

.form-label {
    margin: 0.5em 0;
}

#name {
    width: 80%;
    height: 2em;
    border-radius: 5px;
}

#email {
    width: 90%;
    height: 2em;
    border-radius: 5px;
}

#msg {
    width: 90%;
    height: 5em;
    border-radius: 5px;
}

#submit {
    width: 90%;
    height: 3em;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
}

/* Footer Section  */
footer {
    position: absolute;
    background: #12130F;
    width: 100%;
    height: 20em;
    color: #fff;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 80%;
    padding: 3em;
}

.footer-list {
    list-style-type: none;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.app-container .social-media-bar {
    gap: 1em;
}

/* Slider JS CSS */
.mySwiper {
    max-width: 1500px;
    width: 100%;
    padding: 40px 0;
}

.container {
    margin: 0 40px;
    overflow: hidden;
    height: 500px;    
}

.swiper-slide {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper-slide .box {
    height: 380px;
    width: 400px;
    background: #fff;
    flex-direction: column;
    border-radius: 25px;
}

.box .img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 190px;
}

.box .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.box .info {
    padding: 10px;
    text-align: center;
}

.box .info h2 {
    font-size: 24px;
    font-weight: 600;
    cursor: text;
    margin-bottom: 5px;
}

.box .info p {
    font-size: 16px;
    cursor: text;
}

.box .info .btn {
    margin-top: 10px;
}

.box .info .btn button {
    background: #007aff;
    color: #fff;
    font-size: 14px;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.box .info .btn button:hover {
    background: #3194fe;

}

.swiper-button-prev::after,
.swiper-button-next::after {
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
}

.swiper-button-next::after {
    right: -15px;
}

.swiper-button-prev::after {
    left: -15px;
}

.swiper-pagination-bullet {
    height: 10px;
    width: 35px;
    border-radius: 25px;
    background: #7d2ae8;
}